html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.ner-root {
  display: grid;
  grid-template-columns: 300px minmax(0, 1fr);
  column-gap: 1px;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.ner-sidebar,
.ner-results {
  min-width: 0;
  min-height: 0;
}
